 html{
  height:100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color:#444;
  font-size: 50px;
  background-repeat: no-repeat;
  background-image: url("images/rave.jpg");
  background-size: 100% 100%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.line{
  padding:5px 12px;
  float:right; 
}
.topbar{
  height:50px;
  background-color: #555;

}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.sillyDancer{
  position:absolute; 
  height:10%;
  width: 7%;
  background-image: url('images/smooch.gif');
  background-size: 100% 100%;
  animation-name: infinite-spinning;
  animation-duration:6s;
}
  @keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
    } to {
      transform: rotate(360deg);
    }
  }
.hillbillyDancer{
  position:absolute; 
  height: 15%;
  width: 6%;
  background-image: url('images/air.gif');
  background-size: 100% 100%;

}
.fancyDancer{
  position:absolute;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.fancyDancer img{
  width: 100%;
}
